<h1>Employees info</h1>
<% @employees.each do |employee| %>
  <p>First name: <%= employee.first_name %></p>
  <p>Last name: <%= employee.last_name %></p>
  <a href="/employees/<%= employee.id %>">More info</a>
<% end %>
