<h1>Employees info</h1>
<% @employees.each do |employee| %>
  <p>First name: <%= employee["firstName"] %></p>
  <p>Last name: <%= employee["lastName"] %></p>
  <a href="/employees/<%= employee["id"] %>">More info</a>
<% end %>
